main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/bg-repeat.jpg');
    background-size: contain;
    padding: 0 100px;
}

.content {
    color: #ffffff;
    width: 700px;
}

.content h1 {
    font-size: 40px;
}

.content p {
    margin-top: 20px;
    font-size: 30px;
}

.form {
    background-color: #ffffff;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.form p {
    font-size: 20px;
}

.form .btn-submit {
    margin-top: 30px;
    padding: 15px 0px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    background-color: #3CCC87;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.inputs li input, .inputs li textarea {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    background-color: #ffffff;
    resize: none;
    outline: none;
    border: 2px solid black;
}

::placeholder { 
    color: #A8A8A8;
}

/* CAMPO SELECIONADO COM TEXTO */

.selected {
    border: 2px solid green !important;
}

.hide{
    opacity: 0;
}

/* CAMPO SELECIONADO SEM TEXTO */

.selected-red {
    border: 2px solid red !important;
}

.show {
    opacity: 1;
    color: red;
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}